@using BlogWeb.Mvc.Models.ViewModels
@* @{
    Layout = "_Layout";
}
 *@
@model RegisterViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        /* Sayfanın gövde style özelliği */
        body {
            font-family: Arial, sans-serif;
            background-color: #1a1a1a;
            color: white;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        /* container div'inin style özelliği */
        .container {
            margin: auto;
            margin-top: 8%;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            color: black;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 90%; /* Genişlik yüzde cinsinden ayarlandı */
            max-width: 400px;
        }
            /* containerdaki başlığın style özelliği */
            .container h2 {
                margin-bottom: 20px;
                text-align: center;
            }
        /* input-group style özellikleri */
        .input-group {
            margin-bottom: 15px;
        }

            /* input-group içindeki label style özellikleri */
            .input-group label {
                display: block;
                color: black;
                margin-bottom: 5px;
            }
            /* input-group içindeki input style özellikleri */
            .input-group input {
                width: 100%; /* Genişlik yüzde cinsinden ayarlandı */
                padding: 8px;
                color: black;
                border-radius: 4px;
                border: 1px solid #ccc;
            }

        /* Buton style özellikleri */
        button {
            width: 100%; /* Genişlik yüzde cinsinden ayarlandı */
            padding: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

            /* Buton hover özelliği*/
            button:hover {
                background-color: #0056b3;
            }

        /* Başlık style'ı*/
        h2 {
            color: black;
        }

    </style>
</head>
<body>
    <div id="content-container" class="container">
        <form asp-action="Register" asp-controller="Auth" asp-route-returnUrl="@Context.Request.Path" method="post">
            <h2>Register</h2>
            <input type="hidden" name="returnUrl" value="" />
            <div class="input-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" type="text" id="name" name="name" required>
            </div>
            <div class="input-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" id="password" name="password" required>
            </div>
            <div class="button-container">
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</body>
</html>
