@using BlogWeb.Mvc.Models.ViewModels

 @model RegisterViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">

        /* tüm eleanların elementleri (pseudo-elementler)*/
        *,
        *:before,
        *:after {
            padding: 0;
            margin: 0;
            box-sizing: border-box; /* elemanın genişlik ve yükseklik değerlerini */
        }

        /* gövde özelliği */
        body {
            background-color: #080710;
        }
        /* div'in özellikleri */
        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 50%;
        }
            /* container içindeki shape class'ının özelliği */
            .background .shape {
                height: 200px;
                width: 200px;
                position: absolute;
                border-radius: 50%;
            }
        /* yuvarlak tasarımın özellikleri */
        .shape:first-child {
            background: linear-gradient( #1845ad, #23a2f6 );
            left: -80px;
            top: -80px;
        }

        .shape:last-child {
            background: linear-gradient( to right, #ff512f, #f09819 );
            right: -30px;
            bottom: -80px;
        }

        /* from ve inputların özellikleri*/
        form {
            height: 550px;
            width: 400px;
            background-color: rgba(255,255,255,0.13);
            position: absolute; /* belge akışında nasıl yerleştirileceğini */
            transform: translate(-50%,-50%); /* Elemanın kendisini, genişliğinin ve yüksekliğinin yarısı kadar sola ve yukarıya kaydırır.
                                 */
            top: 50%; /* üst kenarını, ana elemanın yüksekliğinin ortasına yerleştirir */
            left: 50%; /* sol kenarını, ana elemanın genişliğinin ortasına yerleştirir */
            border-radius: 10px;
            backdrop-filter: blur(10px); /* arka planın nasıl görüntüleneceği */
            border: 2px solid rgba(255,255,255,0.1); /* kenarlarını tanımlamak için */
            box-shadow: 0 0 40px rgba(8,7,16,0.6); /* gölge eklemek için */
            padding: 50px 35px;
        }

            form * {
                font-family: 'Poppins',sans-serif;
                color: #ffffff;
                letter-spacing: 0.5px;
                outline: none;
                border: none;
            }
            /* from içindeki başlıların özellikleri */
            form h3 {
                font-size: 32px;
                font-weight: 500;
                line-height: 42px; /* Satır yüksekliğini belirler */
                text-align: center; /* yatay olarak hizalar */
            }

        /* label özelliği */
        label {
            display: block;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500; /* Satır yüksekliğini belirler */
        }

        /* Input özellikleri */
        input {
            display: block; /* elemanının nasıl yerleştirileceği */
            height: 50px;
            width: 100%;
            background-color: rgba(255,255,255,0.07);
            border-radius: 3px; /*köşelerini yuvarlatmak için */
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300; /* metnin kalınlığı*/
        }

        ::placeholder {
            color: #e5e5e5;
        }
        /* buton özellikleri */
        button {
            margin-top: 50px; /* üstten boşluk */
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600; /* metnin kalınlığı*/
            border-radius: 5px; /*köşelerini yuvarlatmak için */
            cursor: pointer;
        }

    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>

        <form asp-action="Register" asp-controller="Auth" method="post">
            <h3>Kayıt Ol</h3>

            <div>
                <label asp-for="Name">Kullanıcı Adı</label>
                <input asp-for="Name" placeholder="Kullanıcı Adınız" id="name">
                <span class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Email">Email</label>
                <input asp-for="Email" placeholder="Emailiniz" id="email">
                <span class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Password">Şifre</label>
                <input asp-for="Password" placeholder="Şifreniz" id="password" type="password">
                <span class="text-danger"></span>
            </div>

            <button type="submit">Kayıt Ol</button>

        </form>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
